body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-image: url("../images/about_us/about_us_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.content {
    display: flex;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 0;
    background-color: #242323;
    flex-grow: 1;
    margin: 5%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    margin: 5%;
}

.sidebar_content {
    flex-basis: 10%;
    padding: 8px;
    margin: 5%;
    color: #fff;
    font-size: 1.5rem;
}

.member_name {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    background: url("../images/Cassowary.jpg") no-repeat center;
    background-size: cover;
    animation: bg_image_change 30s linear infinite;
    transition: bg_image_change 1s ease-in-out;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, border-color 0.3s ease;
}

@keyframes bg_image_change {
    15% {
        background-image: url("../images/index/bg_bird_1.jpg");

    }

    30% {
        background-image: url("../images/index/bg_bird_2.jpg");

    }

    60% {
        background-image: url("../images/index/bg_bird_3.jpg");

    }

    80% {
        background-image: url("../images/index/bg_bird_4.jpg");

    }

    100% {
        background-image: url("../images/index/bg_bird_5.jpg");

    }
}

.member_name:hover {
    transform: scale(1.1);
    border-color: #666;
}

/* Key-Value Pair Styling */
.info_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Spacing between rows */
    font-size: 1.2rem;
    color: #fff;
}

.key_value_row {
    display: flex;
    flex-wrap: wrap; /* Wrap text if it's too long */
    align-items: flex-start;
    gap: 10px;
}

.key {
    font-weight: bold;
    color: #fff; /* Jungle green for keys */
    flex-basis: 20%; /* Keys take 20% width */
    animation: slideInFromRight 0.8s ease;
}

.value {
    flex-basis: 75%; /* Values take 75% width */
    color: #fff;
    word-break: break-word; 
    animation: slideInFromLeft 0.8s ease;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #005bb5;
}

.person_name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    animation: slideInFromLeft 0.8s ease;
}

.short_description {
    margin: 20px 0;
    animation: slideInFromRight 0.8s ease;
}

.values {
    margin: 20px 0;
    animation: slideInFromLeft 0.8s ease;
}

/* Animations */
@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.default_message {
    font-size: 1.5rem;
    color: #fff;
    background-color: #242323;
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.9;
}

.person_avatar {
    width: 10%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: #666;
}

.person_content {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active {
    display: block;
}