/*Side bar*/

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    overflow-y: auto;
  }
  .sidebar h2 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #087904;
    border: 1px solid #ffffff; /* Add a solid white border */
    border-radius: 10px;
    font-size: 1rem;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
  }
  .sidebar li:hover {
    background-color: #3e7046;
  }
  .dropdown {
    display: none;
    margin-top: 5px;
    padding-left: 20px;
    
  }
  .dropdown li {
    padding: 10px 15px;
    
  }
  .dropdown li:hover {
    background-color: #569e60;
  }
  .group-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .arrow {
    font-size: 14px;
    transition: transform 0.3s;
  }
  .arrow.expanded {
    transform: rotate(180deg);
  }

/* Medium screens (tablets, 768px and below) */
@media (max-width: 768px) {
    /* Sidebar occupies the first row */
    .sidebar {
      width: 100%; /* Full width for the sidebar */
      height: auto; /* Adjust height dynamically */
      position: relative; /* Ensure it stacks correctly */
      font-size: 1rem;
    }
    .sidebar h2{
      font-size: 1.5rem;
    }
}

/* Medium screens (tablets, 768px and below) */
@media (min-width: 768px) and (max-width: 1058px) {
    /* Sidebar occupies the first row */
    .sidebar {
        width: 100%; /* Full width for the sidebar */
        height: auto; /* Adjust height dynamically */
        position: relative; /* Ensure it stacks correctly */
        font-size: 1rem;
        margin-left: -10%;
      }
      .sidebar h2{
        font-size: 1rem;
      }
  
  
   
  }